@import './default.less';
@import './loading.less';

.container {
  display: flex;
  overflow-x: hidden;

  .nav-left {
    height: calc(100vh);
    min-width: 180px;
    background-color: #001529;
  }

  .main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;
  }

  .content {
    position: relative;
    padding: 20px;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 60px #fff inset;
  }
}
.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
  }
}
// common 页面简单头
.simple-page {
  .header-top {
    background: #1890ff;
    color: @colorM;
    margin-bottom: 60px;
  }
  .ant-form,
  .ant-col-12,
  .weather {
    display: none;
  }
}
.simple-container {
  padding: 0 40px;
}
