.container {
  display: flex;

  .nav-left {
    height: calc(100vh);
    min-width: 180px;
    background-color: #001529;
  }

  .main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;
  }

  .content {
    position: relative;
    padding: 20px;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 60px #fff inset;
  }
}
