 .container {
   display: flex;

   .nav-left {
      height: calc(100vh);
      min-width: 180px;
      background-color: #001529;
   }

   .main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;

    .ant-card {
      margin-bottom: 8px;
    }
   }

   .content {
      position: relative;
      padding: 20px;
   }
 }